.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
.DS_Store
public/assets

# Ignore application configuration
/config/application.yml

/db/en.openfoodfacts.org.products.csv
/db/fr.openfoodfacts.org.products.csv
/db/sample.csv
/db/sample_codes.csv
/db/db_template.csv
/db/codes.csv
/db/small_sample.csv
/db/modified_dates.csv
