/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-title {
    h2 {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 34px;
    }
    h3 {
      padding-top: 30px;
      font-size: 25px;
    }
    h4 {
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 19px;
    }
}

.search-button {
  margin-top: 15px;
}


// SCAN ICON
#scan-icon {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  transition: transform 400ms;
  width: 60%;
}
@media screen and (min-width: 500px) {
  #scan-icon {
    width: 30%;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


#scan-icon:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  #send button {
    margin-top: 10px
  }
}



// !!! DO NOT TOUCH - CODE FOR SCANNER !!!
#barcodevideo, #barcodecanvas, #barcodecanvasg {
  height: 50vh;
}

#barcodecanvasg {
  position: absolute;
  top: 0px;
  left: 0px;
}

#result {
  font-family: verdana;
  font-size: 1.5em;
}

#barcode {
  position: relative;
  display: none;
}

#barcode video {
 width: 100%;
}

#barcodecanvas {
  display: none;
}
