.landing-step span{
  border: solid 2px white;
  border-radius: 5px;
  padding: 10px;
}
.landing-claim p {
  color: white;
}
.landing-step {
  h3 {
    margin-top: 23px;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
  }
}

#step2 {
  display: none;
}
#step3 {
  display: none;
}

// BANNER CODE
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  // color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.landing-btn {
  margin-top: 50px;
}


