.footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.product-top{
  margin:auto;
  width: 280px;
  position: relative;
  padding-bottom:32px;

  .folow-btn {
    position: absolute;
    right: 10px;
  }
}

.product-bottom{

}

.highlight-allergens{
  border-radius: 5px;
  display: inline-block;
  padding: 0px 26px;
  // #FF7C81
}

.product-show{
  height: vh;
  color: $white;


  h1{
    color: $violet;
  }
}

.color-text{
  color:$violet;
}

.nok {
background-color: $pink-light;
}
.ok {
background-color: $blue-light;
}
// .alert {
// background-color: $white;
// }
.js-background-color {
  // height: 100%;
  // min-height: 650px;
}


.mobile-box {
  position: relative;
}


// .picto-allergies {
//   padding-left: 35px;
//   padding-right: 35px;
//   padding-top: 20px;
// }
.picto-allergies img {
  width: 54px;
  // padding: 5px;
}


.scss-ingredients-card-mobile {
  // padding-top: 30px;
  // padding-right: 35px;
  // padding-left: 35px;
}
.scss-reviews-card-mobile {
  padding-top: 20px;
  padding-right: 35px;
  padding-left: 35px;
}
.pictos_match_with_profil {
  border-radius:50%;
  border: 4px solid $red;

}
.pictos_for_allergies_no_match_with_profil {
  // TODO ?

}
.pictos_for_traces_match_with_profil {
  border: 4px solid red;
}
.pictos_for_traces_no_match_with_profil {
  //TODO ?
}
.pictos_alert_for_trace_for_intolerant_profil {
  border: 4px solid orange;
}



.pictos_for_allergies_no_match_with_profil img{
  // TODO ?
  width: 49px;
}
.pictos_for_traces_match_with_profil img{
  width: 49px;
}
.pictos_for_traces_no_match_with_profil img{
  width: 49px;
}
.pictos_alert_for_trace_for_intolerant_profil img{
  width: 49px;
}


