<% all_allergies = Level.where(user_id: current_user.id) %>

<% all_allergies.each do |allergy| %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <div class="allergy-card">
      <span class="allergy-name"><%= Allergy.find(allergy[:allergy_id]).name.upcase %>: </span>

      <% if allergy.allergy_level == 2 %>
        <span class="allergy-level">Strong Allergy</span>
      <% elsif allergy.allergy_level == 1 %>
        <span class="allergy-level">Intolerance</span>
      <% end %>

      <%= link_to "Delete", user_allergy_path(current_user, allergy), method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
<% end %>
