<% all_allergies = Level.where(user_id: current_user.id) %>
<% all_allergies.each do |allergy| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-1">
        <%= Allergy.find(allergy[:allergy_id]).name %>
        :
      </div>
      <div class="col-xs-12 col-sm-1">
        <%= allergy.allergy_level %>
      </div>
      <div class="col-xs-12 col-sm-1 text-center">
        <%= link_to "Edit", edit_user_allergy_path(current_user, allergy), {class: "btn btn-primary"} %>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
      <p><%= link_to "Cancel my allergy", user_allergy_path(current_user, allergy), method: :delete %></p>
      </div>
    </div>
  </div>
<% end %>
