<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="row">
  <!-- TODO : mettre les bons liens -->
    <div class="col-xs-4 block-btn flexbox js-product-tab" >
      <div class="picto flex-item"><%= image_tag "picto_product_card/product-logo-green.png" %></div>
    </div>
    <div class="col-xs-4 block-btn flexbox js-ingredient-tab">
      <div class="picto"><%= image_tag "picto_product_card/ingredient-logo-green.png" %></div>
    </div>
    <div class="col-xs-4 block-btn flexbox js-reviews-tab">
      <div class="picto"><%= image_tag "picto_product_card/review-logo-green.png" %></div>
    </div>
  </div>
</div>

