<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="row">
    <div class="col-xs-4 block-btn flexbox">
      <div class="picto flex-item"><%= image_tag "picto_product_card/product-logo-green.png" %></div>
    </div>
    <div class="col-xs-4 block-btn flexbox">
      <div class="picto"><%= image_tag "picto_product_card/ingredient-logo-green.png" %></div>
    </div>
    <div class="col-xs-4 block-btn flexbox">
      <div class="picto"><%= image_tag "picto_product_card/review-logo-green.png" %></div>
    </div>
  </div>
</div>

