
<% searched_words = "" %>

<!-- <form action="/products/search" method="get" id="search-form"> -->
<form id="search-form" action="/products">
  <input type="text" name="searched_words" placeholder="Petits pois Carrefour" id="searched-words">
  <input type="submit" value="Search" id="submit-button">
</form>

<% searched_words = params[:searched_words] %>
<% @products = Product.search_by_brand_and_title(searched_words) %>

<% @products.each do |product| %>
  <%= link_to product_path(product) do%>
    <div class="card-product">
      <p><%= product.name %> <%product.manufacturer%></p>
    </div>
  <%end%>
<%end%>
