
.picto img {
  width: 45px;
  display: block;

}

.block-btn img {
  padding: 10px;
}
.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.block-btn {
  height: 55px;
  background-color: white;
}
.block-btn.active {
  height: 55px;
  background-color: $light-grey;
}


