body{
    // margin-bottom:50px;
    background-color: $pink-light;

    font-family: $font-light;
    font-size: $base-size;

    h1{
      font-size: $base-size-main-title;
      font-family: $font-main-title;
      text-transform: uppercase;
    }

    h2{
      font-size: $base-size-title;
      font-family: $font-light;
      text-transform: uppercase;
    }

    h3{
      font-size: $base-size-title;
      font-family:$font-medium;
    }

    .padding-top-bottom-mobile {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .padding-top-mobile {
        padding-top: 20px;
        padding-bottom: 20px;

      }

    .padding-bottom-mobile {
        padding-bottom: 40px;

      }

    .padding-bottom-mobile-60 {
        padding-bottom: 60px;

      }

}
