.avatar {
  width: 52px;
  border-radius: 50%;
  transition: all 400ms;
}
.avatar:hover {
  transform: scale(0.9);
}

.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-navbar-mobile {
  width: 35px;
  border-radius: 50%;
  transition: all 400ms;
}
.avatar-navbar-mobile:hover {
  transform: scale(0.9);
}
