// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-btn{
  background-color: $green;
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
}

.untrack-btn{
  background-color: $green;
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
}
