// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-actions {
  display: inline-block;
}


.track-btn{
  background-color: $green;
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
}

.untrack-btn{
  background-color: $green;
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
}

.score-list {
  li {
    list-style: none;
    padding: 15px 0;
  }
  ol {
    display: inline-block;
    text-decoration: none;
  }
}

.ol-first {
  padding-left: 0px;
}

.review-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
