// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-card {
  // border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
}

.review-title {
  padding-bottom: 30px;
}

.input-label-title {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.review-input i {
  padding-left: 10px;
}


// CARDS
.review-user {
  font-size: 15px;
  font-style: italic;
}
.review-date {
  font-size: 10px;
  font-style: italic;
}

.review-cards-allergy-list {
  li {
    padding-top: 2px;
  }
  ol {
    padding-left: 0px;
    padding-right: 10px;
  }
  img {
    width: 25px;
  }
}

.review-content {
  p {
    font-size: 20px;
  }
}

