<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<form action="products/index" method="get">
  <input type="text" name="searched_words" placeholder="Petits pois Carrefour">
  <input type="submit" value="Search">
</form>
