

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1 class="text-center review-title padding-top-mobile">Leave a review for <%= @product.name %></h1>

     <%#= simple_form_for @product, url: product_reviews_path(@product), method: :post do |m| %>
       <%#= m.simple_fields_for @review do |p| %>
         <%#= p.input :score, as: :radio_buttons, :collection => [0, 1, 2], label: 'How did you feel after eating this product?' %>
         <%#= p.input :content, label: 'Your comments' %>
         <%#= p.button :submit, class: 'text-center' %>
       <%# end %>
     <%# end %>
     <%= simple_form_for @review, url: product_reviews_path(@product, @review) do |m| %>
         <%# m.input :score, as: :radio_buttons, :collection => [0, 1, 2], label: 'How did you feel after eating this product?' %>
         <h2><label for="cbox1" class="input-label-title">How did you feel after eating this product?</label></h2><br>
         <label class="review-input"><input type="checkbox" id="cbox1" value="2" name="review[score]"> <i class="fa fa-frown-o" aria-hidden="true"></i> - Intense allergic reactions </label><br>
         <label class="review-input"><input type="checkbox" id="cbox1" value="1" name="review[score]"> <i class="fa fa-meh-o" aria-hidden="true"></i> - Minor allergic reactions </label><br>
         <label class="review-input"><input type="checkbox" id="cbox1" value="0" name="review[score]"> <i class="fa fa-smile-o" aria-hidden="true"></i> - Perfectly fine</label><br>

         <h2><%= m.input :content, label: 'Your comments', label_html: { class: 'input-label-title' }%></h2>
         <div class="text-center">
          <%= m.button :submit, class: 'btn btn-classic' %>
         </div>
     <% end %>

    </div>
  </div>
</div>




