.user-container {
  // border: 2px solid red;
  background-color: white;
  border-radius: 10px;
}


.profile-picture {
  padding-top: 30px;
  padding-bottom: 20px;
}
.profile-title {
  font-size: 30px;
  padding-bottom: 25px;
}
.profile-user-info {

}
.allergy-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.allergy-level {
  padding: 0 10px;
}
.allergy-name {
  font-weight: bolder;
}

.new-allergy-btn {
  padding-top: 15px;
  padding-bottom: 25px;
 }

.allergy-hr {
  margin: 10px 0;
}

.bold {
  font-weight: bolder;
}
